<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="pwaHead">
    <meta name="theme-color" content="#4f46e5">
    <link rel="preload" th:href="@{/fonts/manrope/Manrope-wght.ttf}" as="font" type="font/ttf" crossorigin>
    <link rel="preload" th:href="@{/fonts/nunito/Nunito-wght.ttf}" as="font" type="font/ttf" crossorigin>
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="icon" type="image/svg+xml" th:href="@{/icons/damulab-icon.svg}">
    <link rel="manifest" th:href="@{/manifest.webmanifest}">
</head>
</html>
